# PostgreSQL connection strings
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/crystalpress?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/crystalpress?schema=public"

# Next.js Application
NEXT_PUBLIC_APP_NAME="Crystal Press"
NEXT_PUBLIC_DEFAULT_CURRENCY="INR"
NEXT_PUBLIC_UPI_ID="crystalpress@upi"
NEXT_PUBLIC_UPI_NAME="Crystal Press"
